$Dark-cyan: hsl(158, 36%, 45%);
$Cream: hsl(30, 38%, 92%);
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    box-sizing: border-box;
}

*p{
    margin: 0;
}

html{
    position: relative;
    overflow: hidden;
}

body{
    margin: 0;
    position: relative;
    flex-direction: column;
    font-size: 14px;
    font-family: Montserrat, senrit;
    background-color: $Cream;
    height: 100vh;
    width: 100vw;
    .card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 1px 1px rgba(0,0,0,0.1 );
        width: 600px;
        height: 450px;
        display: flex;
        flex-direction: row;
        background-color: $White;
        border-radius: 5px;

        .img-product-pc{
           border-radius: 5px 0px 0px 5px;
        }
        .img-product-mobile{
            display: none;
        }
        .content{
            margin: 35px;
            .product{
                font-weight: 500;
                color: $Dark-grayish-blue;
                font-size: 12px;
                letter-spacing: 2px;
                opacity: 0.6;
            }
            .label{
                font-family: Fraunces,sans-serif;
                font-size: 35px;
            }
            .describe{
                opacity: 0.6;
                color: $Very-dark-blue;
            }
            .price{
                margin: 26px 0px;
                .sales{
                    font-family: Fraunces,sans-serif;
                    color: $Dark-cyan;
                    display: inline;
                    margin-right: 20px;
                    font-size: 29px;
                }
                .no-sales{
                    font-size: 13px;
                    color: $Dark-grayish-blue;
                    font-weight: 500;
                    text-decoration: line-through;
                }
            }
            .add-to-cart{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 100%;
                height: 48px;
                border: none;
                border-radius: 8px;
                background: $Dark-cyan;
                color: $White;
                font-weight: 700;
                &:hover{
                    background-color: hsl(158, 36%, 37%) ;
                }
                img{
                    margin-right: 10px;
                    
                }
            }
        }
    }
    .attribution{
        position: relative;
        top: 100%;
    }
}

@media screen and (max-width: 375px) {
    body{
        .card{
            position: relative;
            flex-direction: column;
            height: 600px;
            width: 345px;
            .content{
                margin: 15px;
                .label{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            .img-product-pc{
                display: none;
            }
            .img-product-mobile{
                display: block;
            }
        }

    }
}